Oh bother, we couldn't find an itinerary for <%= id %>. Perhaps you'd like to try
a search on the <a href="http://m.trimet.org">TriMet Mobile Trip Planner</a>, or you could
call TriMet at <a href="tel:+15032387433">+1-503-238-RIDE (7433)</a>.