.box {width: 100%; height: 100%; text-align: center; 
      color: #ffffff; margin-right: 50px;
      font-family: "Trebuchet MS", Futura, sans-serif; 
       -moz-border-radius: 2%; border-radius: 2%}
.boxodd { background-color: #226E52 }
.boxeven { background-color: #22366E }
.mins { line-height: 105%; letter-spacing: 0px }
.clear { clear: both }
#boxes { overflow: hidden; }
.marquee { font-family: "Trebuchet MS", Futura, sans-serif}

/* Hide the cursor */
body { cursor: none }